{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!--====== Title ======-->
    <title>Ethfund</title>
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/cryptocurrency.png' %}" type="image/png">
    
    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/cryptocurrency.png' %}" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    
    <!--====== flaticon css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    
    <!--====== odometer css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/odometer.min.css' %}">
    
    <!--====== magnific popup css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    
    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    
    <!--====== animate css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    
    <!--====== Slick css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
    
    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
    
    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- Vanta Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.topology.min.js"></script>  

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet'href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
    <link rel="stylesheet" href="{% static 'assets/css/create-style.css' %}">

    <!-- <script src="{% static 'assets/js/script.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/gh/akjpro/form-anticlear/base.js"></script>

    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js" type="application/javascript"></script>

</head>

<body>

      <!--====== OFFCANVAS MENU PART START ======-->

      <div class="off_canvars_overlay">
                
      </div>
      <div class="offcanvas_menu">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                      <div class="offcanvas_menu_wrapper">
                          <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="fa fa-times"></i></a>  
                          </div>
                          <div class="offcanvas-social">
                              <ul class="text-center">
                                  <li><a href="https://github.com/B-Mustansir"><i class="fa fa-github"></i></a></li>
                                  <li><a href="https://www.linkedin.com/in/bohari-mustansir/"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="https://twitter.com/MustansirBohari"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="https://www.instagram.com/mustansir_bohari/"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                          </div>
                          <div id="menu" class="text-left ">
                              <ul class="offcanvas_main_menu">
                                  <li class="menu-item-has-children active">
                                      <a href="{% url 'index-2' %}">Home</a>
                                  </li>
                                  <li class="menu-item-has-children active">
                                      <a href="{% url 'about' %}">About</a>
                                  </li>
                                  <li class="menu-item-has-children active">
                                      <a href="{% url 'projects-1' %}">Explore</a>
                                  </li>
                                  <li class="menu-item-has-children active">
                                      <a href="{% url 'faq' %}">FAQ</a>
                                  </li>
                                  <li class="menu-item-has-children active">
                                      <a href="{% url 'news' %}">News</a>
                                  </li>
                                  <li class="menu-item-has-children active">
                                      <a href="{% url 'contact' %}">Contact</a>
                                  </li>
                              </ul>
                          </div>
                          <div class="offcanvas_footer">
                              <span><a href="mailto:ethfund.dapp@gmail.com"><i class="fa fa-envelope-o"></i> ethfund.dapp@gmail.com</a></span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <!--====== OFFCANVAS MENU PART ENDS ======-->
  
      <!--====== HEADER PART START ======-->
      
      <header class="header-area">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="header-top d-flex justify-content-between align-items-center">
                          <div class="header-info">
                              <ul>
                                  <li><a href="mailto:ethfund.dapp@gmail.com"><i class="flaticon-email"></i> ethfund.dapp@gmail.com</a></li>
                                  <li><a href="https://goo.gl/maps/Ty6XuercG7KZ49cC7"><i class="flaticon-placeholder"></i> Vishwakarma Institute of Technology, Pune</a></li>
                              </ul>
                          </div>
                          <div class="social">
                              <ul>
                                  <li><a href="https://github.com/B-Mustansir"><i class="fa fa-github"></i></a></li>
                                  <li><a href="https://www.linkedin.com/in/bohari-mustansir/"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="https://twitter.com/MustansirBohari"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="https://www.instagram.com/mustansir_bohari/"><i class="fa fa-instagram"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="main-header">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-12">
                          <div class="main-header-item">
                              <div class="main-header-menus  d-flex justify-content-between align-items-center">
  
                                  <div class="header-logo">
                                      <a href="{% url 'index-2' %}"><img src="{% static 'assets/images/ethfund-medium-logo-3.png' %}" alt="logo"></a>
                                  </div>
  
                                  <div class="header-menu d-none d-lg-block">
                                      <ul>
                                          <li>
                                              <a class="active" href="{% url 'index-2' %}">Home</a>
                                          </li>
                                          <li class="menu-item-has-children active">
                                              <a href="{% url 'about' %}">About</a>
                                          </li>
                                          <li>
                                              <a href="{% url 'projects-1' %}">Explore </a>
                                          </li>
                                          <li>
                                              <a href="{% url 'faq' %}">FAQ </a>
                                          </li>
                                          <li>
                                              <a href="{% url 'news' %}">News </a>
                                          </li>
                                          <li><a href="{% url 'contact' %}">Contact</a></li>
                                          <li></li>
                                      </ul>
                                  </div>
  
                                  <div class="header-info d-flex align-items-center ">
                                      <div class="search d-none d-sm-block">
                                          <a href="#">
                                              <svg height="22" width="22" fill="#838694" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                                   viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                              <g>
                                                  <g>
                                                      <path d="M508.875,493.792L353.089,338.005c32.358-35.927,52.245-83.296,52.245-135.339C405.333,90.917,314.417,0,202.667,0
                                                          S0,90.917,0,202.667s90.917,202.667,202.667,202.667c52.043,0,99.411-19.887,135.339-52.245l155.786,155.786
                                                          c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125C513.042,504.708,513.042,497.958,508.875,493.792z
                                                           M202.667,384c-99.979,0-181.333-81.344-181.333-181.333S102.688,21.333,202.667,21.333S384,102.677,384,202.667
                                                          S302.646,384,202.667,384z"/>
                                                  </g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              <g>
                                              </g>
                                              </svg>
                                          </a>
                                      </div>
                                      <div class="toggle-btn ml-30 canvas_open d-lg-none d-block">
                                          <i class="fa fa-bars"></i>
                                      </div>
                                  </div>
  
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </header>
      
      <!--====== HEADER PART ENDS ======-->
     
      <!--====== PAGE TITLE PART START ======-->
      
      <section class="page-title-area bg_cover" id="page-title-bg" >
          <div class="container">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="page-title-content">
                          <h3 class="title">Create Project</h3>
                          <nav aria-label="breadcrumb">
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </section>
  
      <script>
          VANTA.TOPOLOGY({
            el: "#page-title-bg",
            mouseControls: true,
            touchControls: true,
            gyroControls: true,
            scale: 1.00,
            scaleMobile: 1.00,
            backgroundColor: 0x1b1f2e,
            color: 0x674df0
          })
      </script>
  
      <!--====== PAGE TITLE PART ENDS ======-->

  <form id="createproject-form" method="post" enctype="multipart/form-data" action='create'>
    {% csrf_token %}
    <input class="variation" id="bluepurple" type="radio" value="1" name="color" checked="checked"  />
    <label for="bluepurple"></label>
    <input class="variation" id="sunset" type="radio" value="2" name="color" />
    <label for="sunset"></label>
    <input class="variation" id="godiva" type="radio" value="3" name="color" />
    <label for="godiva"></label>
    <input class="variation" id="dark" type="radio" value="4" name="color" />
    <label for="dark"></label>
    <input class="variation" id="pinkaru" type="radio" value="5" name="color" />
    <label for="pinkaru"></label>
    <main>
      <section class="forms">
        <h6>Project</h6>
        <h1>List your Project</h1>
        <div class="form-login">
          <div class="input__wrapper">
            <label class="label-form">Project Name</label>
            <input name="projectname" class="input-form" type="text" placeholder="Your project"  />
          </div>
          <div class="input__wrapper">
            <label class="label-form">Description</label>
            <input name="projectdscp" class="input-form" type="textarea" placeholder="Describe your project" style="height: 75px" />
          </div>
        </div>
        </div>
      </section>
      <section class="filter-section">
        <h6>Get Funds</h6>
        <h1>Get Funds</h1>
        <div class="form-login">
          <div class="input__wrapper">
            <label class="label-form">Needed funds</label>
            <input id="goal" name="goal" class="input-form" type="number" placeholder="Funds in gwei" />
          </div>
          <div class="input__wrapper">
            <label class="label-form">Deadline</label>
            <input name="deadline" id="deadline" class="input-form" type="textarea" placeholder="Deadline in days" />
          </div>
          <div class="input__wrapper">
            <label class="label-form">Public key</label>
            <input name="key" class="input-form" type="textarea" placeholder="Your public key" />
          </div>
        </div>

      </section>

      <div id="addContractAddress">
        <input type="hidden" name="contractAddress" id="contractAddress"/>
      </div>

      <section class="well-cta-2">
        <h6>Deploy your project</h6>
        <div class="well-cta--form">
            <div class="well-cta--form__text">
              <h3>Deploy your project</h3>
              <p>Get the latest news on doggodoption. We are pawsitive we will not spam you.</p>
            </div>
            <div class="panel__cta">
                <input onclick="deploy();" type="button" value="Deploy" class="button secondary">
              </div>
          </div>
          <br>
        <div class="well-cta--form">
          <div class="well-cta--form__text">
            <h3>Submit your information!</h3>
            <p>Get the latest news on doggodoption. We are pawsitive we will not spam you.</p>
          </div>
          <div class="well-cta--form__input">
            <input class="input-form input--lg" type="text" placeholder="Your Email Here" />
          </div>
          <div class="well-cta--form__cta">
          <input type="submit" value="Submit" name="submit" class="button secondary"/></div>
        </div>

      </section>

      <section class="comments">
        <h6>Upload Docs</h6>

        <div class="form-login">
          <div class="input__wrapper">
            <label class="label-form">Project Documents</label>
            <input name="fileImg" class="button secondary" type="file" placeholder="" />
          </div>
          <div class="input__wrapper">
            <label class="label-form">Project video</label>
            <input name="video" class="button secondary" type="file" placeholder="" />
          </div>

        </div>
      </section>

    </main>
    <br><br>

  </form>

    <!--====== FOOTER PART START ======-->
    
    <footer class="footer-area bg_cover" style="background-image: url({% static 'assets/images/footer-bg.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="footer-about mt-30">
                        <a href="{% url 'index-2' %}"><img src="{% static 'assets/images/ethfund-medium-logo-1.png' %}" alt=""></a>
                        <p>Bring your ideas come to life through support of a community with Ethfund, the decentralized crowdfunding platform.</p>
                        <ul>
                            <li><a href="https://github.com/B-Mustansir" target="_blank"><i class="fa fa-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/bohari-mustansir/"  target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/MustansirBohari" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/mustansir_bohari/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-list mt-30">
                        <div class="footer-title">
                            <h4 class="title">Company</h4>
                            <ul>
                                <li><a href="{% url 'about' %}">About us</a></li>
                                <li><a href="https://ethereum.org/en/developers/docs/dapps/">How It Works</a></li>
                                <li><a href="https://medium.com/openberry/creating-a-simple-crowdfunding-dapp-with-ethereum-solidity-and-vue-js-69ddb8e132dd">Knowledge hub</a></li>
                                <li><a href="{% static 'assets/images/success-stories.png' %}">Success Stories</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-list mt-30">
                        <div class="footer-title">
                            <h4 class="title">Fundraising</h4>
                            <ul>
                                <li><a href="{% static 'projects-1.html' %}">Education</a></li>
                                <li><a href="{% static 'projects-1.html' %}">Design</a></li>
                                <li><a href="{% static 'projects-1.html' %}">Film & Video</a></li>
                                <li><a href="{% static 'projects-1.html' %}">Technology</a></li>
                                <li><a href="{% static 'projects-1.html' %}">Games</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="footer-newsletter mt-30">
                        <div class="footer-title">
                            <h4 class="title">Newsletter</h4>
                        </div>
                        <form action="#">
                            <div class="input-box">
                                <input type="text" placeholder="Email Address">
                                <button style="padding: 0%;"><i class="fa fa-envelope"></i></button>
                            </div>
                            
                        </form>
                        <p>Sign up for our latest news & articles. <br>We won’t send you spam mails.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright text-center">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-shape">
            <img src="{% static 'assets/images/footer-shape.png' %}" alt="">
        </div>
    </footer>
    
    <!--====== FOOTER PART ENDS ======-->
    
    <!--====== GO TO TOP PART START ======-->
    
    <div class="go-top-area">
        <div class="go-top-wrap">
            <div class="go-top-btn-wrap">
                <div class="go-top go-top-btn">
                    <i class="fa fa-angle-double-up"></i>
                    <i class="fa fa-angle-double-up"></i>
                </div>
            </div>
        </div>
    </div>
    
    <!--====== GO TO TOP PART ENDS ======-->

</body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/deploy.js' %}"></script>

</html>